@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Oswald:700');

:root {

    /* typography scale - phone minor 2nd (1.200)*/
    --fs-900: 2.488rem;
    --fs-800: 2.074rem;
    --fs-700: 1.728rem;
    --fs-600: 1.44rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 0.833rem;
    --fs-200: 0.694rem;
    --fs-100: 0.579rem;


    /* font size aliases from spec */
    --fs-90px: var(--fs-900);
    --fs-36px: var(--fs-800);
    --fs-30px: var(--fs-700);


    /* colors */
    --clr-neutral-200: #2F737F;
    --clr-neutral-400: #3B4050;
    --clr-neutral-600: #2E323F;
    --clr-white-400: #ffffff;
    --clr-white-500: #F1F1F1;
    /* this may be more of a primary color, used for buttons and headings? */
    --clr-primary-400: #A59678;
}

@media (min-width: 700px) {

    :root {
        /* typography scale - tablet+ augmented fourth (1.414), base size 16px; */
        /* close to original design spec */
        --fs-900: 5.653rem;
        --fs-800: 3.998rem;
        --fs-700: 2.827rem;
        --fs-600: 1.999rem;
        --fs-500: 1.414rem;
        --fs-400: 1rem;
        --fs-300: 0.707rem;
        --fs-200: 0.5rem;
        --fs-100: 0.354rem;
    }

}

/* foundation */
.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

html {
    font-size: 100%;
}

body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* WCAG */
    line-height: 1.5;
    color: var(--clr-neutral-400);
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 1.1;

    color: var(--clr-primary-400);

}

h1 {
    margin-top: 0;
    font-size: var(--fs-900);
}

h2 {
    font-size: var(--fs-800);
}

h3 {
    font-size: var(--fs-700);
}

h4 {
    font-size: var(--fs-600);
}

h5 {
    font-size: var(--fs-500);
}

small,
.text_small {
    font-size: var(--fs-200);
}

a,
.link {
    text-decoration: none;
    white-space: nowrap;
}

button,
.button {
    background-color: var(--clr-primary-400);
    color: var(--clr-white-400);
    border-radius: 999px;
    padding: 0.25em 1em;
}

/* composition */

.flow>*+* {
    margin-top: 1em;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    --threshold: 50rem;
}

.switcher>* {
    flex-grow: 1;
    flex-basis: calc((var(--threshold) - 100%) * 999);
}


/* TODO: refactor into blocks */
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .medium-flex-row {
        display: flex;
    }
}

@media only screen and (min-width: 700px) {
    .min-medium-flex-row {
        display: flex;
    }
}

/* utility */

.list-of-links {
    list-style-type: none;
    padding-inline-start: 0;
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin-inline: auto;
}

.inverse {
    background-color: var(--clr-neutral-400);
    color: white;
}

.inverse a {
    color: white;
}

.white {
    color: white;
}

/* block */

.dark-card {
    text-align: center;
    padding-inline: 1em;
}

.dark-card,
.dark-card h2,
.dark-card h3 {
    color: var(--clr-white-400);
    background-color: var(--clr-neutral-600);
}

/* navbar block */
.navbar {
    background-color: var(--clr-neutral-600);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
}

/* should flex vert on phone, horz ortherwise */

/* dubious... */
.navbar a {
    color: var(--clr-white-400);
}

@media only screen and (max-width: 699.99px) {
    .navbar .wrapper {    
        /* TODO: why is this needed? Shouldn't align-items:center take care of it? */
        text-align: center;
        display: flex;
        flex-direction: column;
        /* TODO: Is this redunant?  On phon needed to center navbar logo */
        align-items: center;
    }
}
@media only screen and (min-width: 700px) {
    .navbar .wrapper,
    .navbar .wrapper .list-of-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar .list-of-links {
    gap: 2em;
}

.navbar-logo {
    align-items: center;
}

/* hero block */

.hero {    
    padding-block: 5rem;
    min-height: 60vh;
}

.hero a,
.hero .button {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

@media only screen and (min-width: 700px) {
    .hero {
        display: flex;
        gap: 1rem;
        align-items: center;        
    }
}

/* herosub block */

.herosub {
    background-color: var(--clr-white-500);

}

.herosub .wrapper {
    text-align: center;
}

.herosub h2 {
    font-size: var(--fs-700);
}

@media only screen and (min-width: 700px) {
    .herosub .wrapper {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-block: 5rem;
    }
}

/* content panel */

.content .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media only screen and (min-width: 1000px) {
    .content .wrapper {
        flex-direction: row;
    }
}

.content .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: var(--fs-500);
}

@media only screen and (min-width: 700px) and (max-width: 999.99px) {
    .content .sidebar {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1000px) {
    .content .sidebar {
        /* NB: works but feels like a hack! */
        padding-block-start: 3rem;
    }
}

/* footer block  */

.footer {
    text-align: center;
}



/* exception */

.list-of-links[data-type='navbar'] {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: var(--fs-400);
}