/* || BASE (resets, etc.) */

/* sensible box model */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* || CUSTOM PROPERTIES */
:root {
    --clr-base-300: #6F737f;
    --clr-base-400: #3b4050;
    --clr-base-700: #2e323f;
    --clr-accent: #a59678;
    --clr-lightbg: #F1F1F1;
    --clr-inverse: #ffffff;
    --ff-base: 'Montserrat', sans-serif;
    --ff-accent: 'Oswald', sans-serif;
    --fs-100: 1rem;
    /* 16px */
    --fs-200: 1.125rem;
    /* 18px */
    --fs-300: 1.3125rem
        /* 21px */
    ;
    --fs-400: 1.5rem;
    /* 24px */
    --fs-500: 1.825rem;
    /* 30px */
    --fs-600: 2.25rem;
    /* 36px */
    --fs-700: 5.625rem;
    /* 90px */

}

/* || GENERAL STYLES */

/* default font */
html {
    font-family: var(--ff-base);
}

/* responsive images */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--clr-inverse);
}

a:focus-visible,
a:hover {
    opacity: 0.75;
}

/* || UTILITIES */

/** flex utilities **/
.flex {
    display: flex;
    gap: 1em;
    flex-direction: row; /* default */
}

/* when in flexbox mode, all columns should be equal width to start */
.flex-fill-cols>* {
    width: 100%;
}

.just-between {
    justify-content: space-between;
}

.link-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.link-list--spaced>li {
    padding-bottom: 1em;
}

/* link-buttons */
.btn {
    display: inline-block;
    font-family: var(--ff-accent);
    
    background-color: var(--clr-accent);
    color: var(--clr-inverse);
    padding: 0.1em 0.5em;    
    border-radius: 100px;
    text-decoration: none;
}

.btn--large {
    font-size: var(--fs-400);
    margin: 1em auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}


.heading {
    font-family: var(--ff-accent);
}

/* modifiers */

.uppercase {
    text-transform: uppercase;
}

/* text-center--always? */
.center-always {
    text-align: center;
}

.flex-align-start {
    align-items: flex-start;
}
.flex-align-center {
    align-items: center;
}


/* font sizes */

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
    line-height: 1em;
}

/* colors */

.bg-clr-darkest {
    background-color: var(--clr-base-700);
    color: var(--clr-inverse);
}

.bg-clr-dark {
    background-color: var(--clr-base-400);
    color: var(--clr-inverse);
}

.bg-clr-light {
    background-color: var(--clr-lightbg);
    color: var(--clr-base-400);
}

.bg-default {
    background-color: var(--clr-inverse);
    color: var(--clr-base-400);
}

.clr-accent {
    color: var(--clr-accent);
}

.navbar__link {
    font-family: var(--ff-accent);
}

/* || SITEWIDE */

/* || RESPONSIVE */

/* default (phone) */
.flex-col--phone-only {
    flex-direction: column;
}
.flex-row--tablet-only {
    flex-direction: column;
}
.flex-row--desktop-only {
    flex-direction: column;
}

.flex-align-self-center {
    align-self: center;
}

.flex-no-grow {
    flex-grow: 0;
}

@media (max-width: 700px) {
    .center--phone-only {
        text-align: center;
    }
    
}


/* tablet+ */
@media (min-width: 700px) {


    .padding--vert-7rem-phone {
        padding-block: 7rem;
    }
    
    .flex-col--phone-only {
        flex-direction: row;
    }
    .flex-row--tablet-only {
        flex-direction: row;
    }
    .flex-row--desktop-only {
        flex-direction: column;
    }
}

/* desktop+ */
@media (min-width: 1000px) {

    .flex-col--phone-only {
        flex-direction: row;
    }
    .flex-row--tablet-only {
        flex-direction: column;
    }
    .flex-row--desktop-only {
        flex-direction: row;
    }

    .left-footer {
        width: 40%;
    }
}

/* experimental class */
.temp {
    margin-inline: auto;    
}

.test2 {
    line-height: 1em;
}

/* todo factor into util classes */
#hero {
    padding-block: 5rem;
}


#contentpanel {
    padding-block: 5rem;
}
.padding-asides {
    padding: 2.5rem;
}